<div class="relative overflow-x-auto m-10">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Nom du produit
                </th>
                <th scope="col" class="px-6 py-3">
                    Prix unitial
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantite
                </th>
                <th scope="col" class="px-6 py-3">
                    Prix total
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let commande of commandes" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" >
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <img [src]="'http://localhost:8000/storage/' + getProduitImage(commande.product_id)"
                    alt="produit image" class="w-20">
                </th>
                <th scope="row" class="px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{getProduitName(commande.product_id)}}
                </th>
                <td class="px-6">
                    {{getProduitPrix(commande.product_id)}} MRU
                </td>
                <td class="px-6">
                    {{commande.quantite}}
                </td>
                <td class="px-6 text-gray-900">
                    {{commande.montant_total}} MRU
                </td>
            </tr>
        </tbody>
    </table>
</div>
