<div class="relative overflow-x-auto m-10">
    <div class="flex justify-between lg:mx-20 md:mx-10 sm:mx-2">
        <h1 class="mb-4 font-extrabold tracking-tight text-black md:text-3xl lg:text-4xl sm:text-2xl">Votre
            panier 🛒</h1>
        <div class="block">

            <h1 class="mb-4 font-extrabold tracking-tight text-black md:text-3xl lg:text-4xl sm:text-2xl">
                Prix total: <span class="text-green-700">{{prixTotal}} MRU</span> </h1>
            <button type="button" (click)="commandeAll()"
                class="py-2 px-4 bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
                Commander tous</button>
        </div>

    </div>
    <div class="w-full text-right px-40">
    </div>

    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 items-start mx-4 py-12">
        <div *ngFor="let cart of carts" class="flex flex-col bg-white rounded-lg border-2 overflow-hidden">
            <div class="relative w-full h-48 md:h-64 flex justify-center items-center">
                <img [src]="'http://localhost:8000/storage/' + cart.image"
                    alt="shopping image" class="object-cover w-full h-full">
            </div>
            <div class="flex-auto p-6 flex flex-col justify-between">
                <div class="mb-3">
                    <h1 class="text-xl font-semibold">{{cart.name}}</h1>
                    <div class="text-xl font-semibold text-green-700">{{cart.prix}} MRU</div>
                    <div class="my-4 text-sm font-medium text-gray-500">Quantité:
                        <button (click)="diminuerQuantite(cart)"
                            class="bg-gray-300 text-gray-700 px-4 py-1 ms-3 rounded hover:bg-red-600 hover:text-white">-</button>
                        <span class="px-5 py-1 font-bold mx-2">{{cart.quantite}}</span>
                        <button (click)="augmenterQuantite(cart)"
                            class="bg-gray-300 text-gray-700 px-4 py-1 rounded hover:bg-blue-600 hover:text-white">+</button>
                    </div>
                    <div class="mt-2 text-sm font-medium text-gray-500">Dans le stock</div>
                </div>
                <div class="mb-1 text-sm font-medium flex gap-5">
                    <button type="button" (click)="deleteproduct(cart.id)"
                        class="py-2 px-4 bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">Supprimer</button>
                    <button type="button" (click)="commander(cart)"
                        class="py-2 px-4 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
                        Commander</button>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- commande succeed -->
<div *ngIf="showAlert" class="fixed top-4 right-4 z-50">
    <div class="p-4 mb-4 text-sm text-white rounded-lg bg-green-700" role="alert">
      Votre commande est bien passé
    </div>
</div>