<div class="relative overflow-x-auto m-10">
  <h1 class="mb-4 text-4xl font-extrabold tracking-tight text-black md:text-5xl lg:text-4xl sm:text-4xl">Les Utilisateurs</h1>

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  ID
              </th>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Email
              </th>
              <th scope="col" class="px-6 py-3">
                  Tel
              </th>
              <th scope="col" class="px-6 py-3">
                Adresse
            </th>
            <th scope="col" class="px-6 py-3">
              Role
          </th>
          <th scope="col" class="px-6 py-3">
            Action
        </th>
          </tr>
      </thead>
      <tbody>
          <tr  *ngFor="let user of users ; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{i + 1}}
              </th>
              <td class="px-6 py-4">
                  {{user.name}}
              </td>
              <td class="px-6 py-4">
                {{user.email}}
              </td>
              <td class="px-6 py-4">
                {{user.phone}}
              </td>
              <td class="px-6 py-4">
                {{user.adress}}
              </td>
              <td class="px-6 py-4" *ngIf="user.role == 0">
                Client
              </td>
              <td class="px-6 py-4" *ngIf="user.role == 1">
                Admin
              </td>
              <td class="px-6 py-4">
                <button type="button" *ngIf="user.role == 0" (click)="roleUpdate(user.id)" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm sm:text-xs px-5 py-2.5 text-center me-2 mb-2 ">Nommer admin</button>

                <button type="button" *ngIf="user.role == 1" (click)="roleUpdate(user.id)" class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-full text-sm sm:text-xs px-5 py-2.5 text-center me-2 mb-2 ">Nommer client</button>
              </td>
          </tr>
          
      </tbody>
  </table>
</div>

