<div class="parent">
    <div class="header">
      <div class="header_content">
        <app-header></app-header>
      </div>
    </div>
    <div class="main">
      <div class="child">
        <aside>
          <app-side-bar></app-side-bar>
        </aside>
      </div>
      <div class="content">
        <div class="content_content">
        <app-content></app-content>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_content">
        <app-footer></app-footer>
  
      </div>
    </div>
  </div>